.moz-cl .cl-tree-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.cl-tree-add {
    color: rgba(0, 111, 255, 0.7);
}

.cl-tree-obsolete {
    color: rgba(0, 0, 0, 0.5);
}

.cl-tree-error {
    color: red;
}

.cl-tree-warning {
    color: orange;
}
